body { font: 12px Arial;}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.masthead {
  background: #fff !important;
}

svg {
  font: 10px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.menu-haut {
  color: #003249;
}

#mainNav .navbar-brand {
    color: #003249 !important;
}

#mainNav .nav-link {
  color: #003249 !important;
}

#investigators {
  padding-bottom: 5%;
}

div.tooltip {
  background: #003249 !important;
  color : #fff !important;
}

.total_death {
  background-color: #d65108 !important;
  color: #d65108 !important;
}

.UV_deaths {
  background-color: #648381 !important;
  color: #648381 !important;
}

.chem_poll {
  background-color: #9bc4cb !important;
  color: #9bc4cb !important;
}

.water_poll {
  background-color: #202030 !important;
  color: #202030 !important;
}

.air_poll {
  background-color: #ff6700 !important;
  color: #ff6700 !important;
}

.total_death1 {
  background-color: #ffffff !important;
  color: #ffffff !important;
}

.total_death2 {
  background-color: rgb(202, 193, 185); !important;
  color: rgb(202, 193, 185); !important;
}

.total_death3 {
  background-color: rgb(151, 134, 119) !important;
  color: rgb(151, 134, 119) !important;
}

.total_death4 {
  background-color: rgb(102, 81, 59) !important;
  color: rgb(102, 81, 59) !important;
}

.total_death5 {
  background-color: rgb(54, 32, 0) !important;
  color: rgb(54, 32, 0) !important;
}



div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#legend {
  border-style: solid;
  border-color: #003249;
  padding : 2%;
  display: block;
  position : absolute;
  top : 150px;
  width: 300px;
}

#graphic
{
  position: relative;
  top: 100px;
  margin-bottom: 200px;
}
#soleil
{
  position: relative;
  top: 0px;
  left : 400px;
}

